version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: mongo_filmes
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data/db:/data/db
    environment:
      MONGO_INITDB_DATABASE: filmesDB
