name: Verificação, Testes e Cobertura

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  verificar-estilo:
    name: Verificação de Estilo (Lint)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm' 

      - name: Instalar dependências
        run: npm install

      - name: Rodar o Linter
        run: npm run lint

  verificar-cobertura:
    name: Testes e Cobertura (>= 90%)
    runs-on: ubuntu-latest
    
    needs: verificar-estilo

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Instalar dependências
        run: npm install

      - name: Rodar testes e gerar cobertura
        run: npm test -- --coverage
        env: 
          MONGO_URI: ${{ secrets.MONGO_URI }}

  docker:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      # Login no Docker Hub
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Configura o motor de build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Constrói a imagem e envia. Push
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          #tags: gera a "latest" e uma com o número da execução 
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/filmes-api:latest
            ${{ secrets.DOCKER_USERNAME }}/filmes-api:v${{ github.run_number }}